# ===== Android / Gradle =====
**/build/
**/.gradle/
**/out/

# ===== Android Studio / IntelliJ =====
**/.idea/
**/*.iml
**/*.ipr
**/*.iws

# ===== Local machine config =====
**/local.properties

# ===== Logs =====
**/*.log

# ===== Linux / Fedora =====
.directory

# ===== OS =====
.DS_Store
Thumbs.db
